@font-face {
    font-family: awesome;
    src: url(./Fonts/Font\ awesome.ttf);
}
@font-face {
    font-family: urban;
    src: url(./Fonts/Urbanist.ttf);
}
@font-face {
    font-family: urbanist;
    src: url(./Fonts/Urbanist-2.ttf);
}