*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: noto;
    src: url(./Fonts/noto\ 1.ttf);
}
#main{
    background-color: #2C2C2C;
    position: relative;
    overflow: hidden;
}
#loader{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    z-index: 999;
    align-items: center;
    background-color: white;
    transition: all ease;
    justify-content: center;
}
#loader img{
    height: 13%;
}
canvas{
    overflow: auto;
    position: relative;
    max-height: 100vh;
    left: 50%;
    transform: translateX(-50%) ;
    max-width: 100vw;
    /* top: 4.7%; */
    z-index: 99;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}
#nav{
    position: absolute;
    top: 0;
    z-index: 999;
    font-size: 3rem;
    height: 10vh;
    font-family: urbanist;
    width: 100vw;
    color: white;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    word-spacing: -0.45rem;
}   
#nav span{
    font-weight: 100;
}
#links{
    height: inherit;
    width: 13%;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#links img{
    height: 33%;
}

#scroller{
    position: absolute;
    width: 100vw;
    height: auto;
    font-size:6.3rem;
    font-weight: 100;
    white-space: nowrap;
    top: 25%;
    letter-spacing: 0px;
    font-family: urbanist;
    overflow-x: hidden;
    color: white;
}
#scroller h1{
    display: inline-block;
    letter-spacing: -5px;
    font-weight: 100;
    /* font-family: gilroy; */
}
.cbr{
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 8px #fff;
}
.fct{
    font-family: gilroy;
    margin-left: -1rem;
    font-weight: 100;
}
.stroke{
    font-family: gilroy;
    font-weight: 600;
    -webkit-text-stroke: 1.2px #fff;
    color: transparent;
}
.norm{
    font-family: gilroy;
    font-weight: 300;
}
.ur{
    font-family: gilroy;
    font-style: italic;
    font-weight: 400;
    -webkit-text-stroke: 1.2px #fff;
    color: transparent;
}

#intro{
    height: 10vh;
    width: 100%;
    /* background-color: lightsalmon; */
    position: absolute;
    top: 57%;
    display: flex;
    align-items: center;
    padding: 0 4.5vw;
    font-family: urbanist;
    font-size: 0.98rem;
    justify-content: space-between;
}
.part-intro{
    /* background-color: blue; */
    height: 100%;
    width: 38%;
    color: #ffffffde;
    line-height: 1.5rem;
}
.part-intro h4{
    font-size: 1rem;
    letter-spacing: 1px;
}
.part-intro:first-child{
    text-align: left;
}
.part-intro:last-child{
    text-align: right;
}
#mint{
    position: absolute;
    /* background-color: #111; */
    height: 9vh;
    z-index: 99;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 85%;
    left: 75%;
}
#box{
    border-radius: 1.5rem;
    height: 100%;
    width: 80%;
    background-color: #111;
    overflow: hidden;
    z-index: 97;
    display: flex;
    align-items: center;
    color: #ffffffde;
    font-family: urbanist;
    letter-spacing: 1px;
    -webkit-text-stroke: 1.2px #ffffffde;
    justify-content: center;
}
#mint #img{
    /* background-color: red; */
    height: 100%;
    z-index: 98;
    margin-left: 10px;
    width: 20%;
}
#img img{
    margin-left: 30px;
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    position: relative;
    width: 100vw;
    background-image: url("https://cyberfiction.io/sequence/0439.png");
    /* background-color: blue; */
}


#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: green; */
}
#p2d{
    position: relative;
    height: 60vh;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
    font-family: urbanist;
    text-transform: uppercase;
    font-size: 2rem;
    display: flex;
    font-weight: 500;
    padding: 0 5vw;
    -webkit-text-stroke: 1px #ffffffde;
    color: white;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: space-between;
}
#p2d p{
    font-size: 1rem;
    font-family: gilroy thin;
    font-weight: 100;
}
#dg2:first-child{
    align-self: flex-start;
    height: 60%;
    line-height: 4rem;
    width: 34%;
    /* background-color: red; */
}
#dg2:last-child{
    line-height: 4rem;
    height: 60%;
    align-self: flex-end;
    /* height: 80%; */
    width: 30%;
    text-align: right;
    /* background-color: red; */
}

#page2 #p2d{
    top: 51%;
    /* background-color: red; */
}
#page2 #dg2:last-child{
    /* background-color: cyan; */
    width: 40%;
    margin-right: -1rem;
    height: auto;
    font-size: 0.8rem;
    align-self: self-end;
    margin-bottom: 1.4rem;
    line-height: normal;
}
#page2 #dg2:last-child p{
    z-index: 222;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    -webkit-text-stroke: 0.5px white;
}
#page2 #dg2:first-child p{
    letter-spacing: 2px;
    line-height: 3rem;
    margin-top: 1.2rem;
    -webkit-text-stroke: 1.5px white;
}
#page2 #dg2:first-child{
    line-height: 5.5rem;
    letter-spacing: .3rem;
    font-size: 2.8rem;
    -webkit-text-stroke: 3px white;
}

#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: yellow; */
}

#page3 #p2d{
    top: 49%;
    position: relative;
    z-index: 555;
    /* background-color: red; */
}
#page3 #dg2:first-child{
    /* background-color: cyan; */
    width: 35%;
    text-align: justify;
    position: relative;
    z-index: 999;
    margin-right: -1rem;
    height: auto;
    font-size: 0.8rem;
    align-self: flex-start;
    margin-bottom: 1.4rem;
    line-height: normal;
}
#page3 #dg2:first-child p{
    position: relative;
    z-index: 999;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    -webkit-text-stroke: 0.5px white;
}
#page3 #dg2:last-child p{
    letter-spacing: 2px;
    line-height: 3rem;
    margin-top: 1.2rem;
    -webkit-text-stroke: 1.5px white;
}
#page3 #dg2:last-child{
    line-height: 5.5rem;
    letter-spacing: .3rem;
    font-size: 2.8rem;
    -webkit-text-stroke: 3px white;
}